
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('../img/computer-table-background.webp') no-repeat;   /* seagreen*/
    background-size: cover;
    background-position: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;   /*  260px   to  .active  &   transition  */
    height: 100%;
    background: transparent;  /*   rebeccapurple   */
    backdrop-filter: blur(6px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .6s;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    transform: translateX(2%);
    /*
    background: slateblue;*/
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: whitesmoke;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition: .2s;
}

.sidebar .logo-menu .toggle-btn-menu {
    position: absolute;
    left: 50%;   /*  93%   to  .active  &   transition  */
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /*
    background: salmon;*/
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;      /*  like    height  value   */ 
    cursor: pointer;
    transition: .6s;
}


.sidebar.active .logo-menu .toggle-btn-menu {
    left: 93%;}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;/* slateblue */
    margin: 5px 0; 
    line-height: 50px;      /*  like    height  value   */ 
}


.list .list-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    /*
    background: royalblue;*/
    font-size: 18px;
    color: whitesmoke;
    border-radius: 6px;
    white-space: nowrap;
    transition: .6s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2); 
} 

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    color: whitesmoke;
    /*
    background: salmon; */
    text-align: center;
    line-height: 50px;      /*  like    height  value   */ 
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}
/*  PRESENTATION    */
.presentation{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentation img {
    width: 200px;
    height: 200px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    position: center;
    margin-top: 60px;
    box-shadow: 25px 25px 25px rgba(106, 90, 205, 0.3);
}
.presentation h5 {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: -16px;
    text-align: center;
    letter-spacing: .1rem;
    word-spacing: .2em;
}

.presentation h5 span {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: var(--nav-color); 
}
.presentation p {
    color: #FFF;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0.2em;
}
.presentation a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(106, 90, 205, 0.2);
    text-transform: uppercase;
    transition: .5s;
}

.presentation a:hover {
    background-color: rgba(106, 90, 205, 0.9);
}
