/*  add fonts */
@import url('https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

[data-theme="light"] {
    --primary: rgba(78, 63, 240, 0.5); /* #673AB7;*/
    --background: #FFF5EE;
    --background-second: #37383b;  /*   --background-two: #37383b;    */
    --text: #010718;
    --about-photo: plum;

    --body-color: #E4E9F7;
    --nav-color: #7B68EE;     /*    #673AB7  #4070F4    */
    --side-nav: #010718;
    --body-h1: #010718;

    /*--nav-color: rgb(78, 63, 240);  #673AB7; Computer, maker, Computer Science, solutions, forefront, ideas, Data Science, programmer, code, innovation,  AI, artificial intelligence, technology, smart, empathy, team, developer*/
    /*    #7B68EE; #191C26;    #673AB7  #4070F4 */
    --nav-inverse: #7B68EE;
   /* --background: #242526;  #FFF5EE; #37383b;   */
    --background-second: #bbbdc5;
    --text-nav: #E4E9F7;
    --frame: #939ec0; /*  #37383b;  #B0C4DE;   #9aa8bb; */
}
[data-theme="dark"] {
    --primary: #7B68EE;
    --background: #37383b;
    --background-second: #77808d;  /*   --background-two: #B0C4DE;    */
    --text: #F5F5F5;            /*  #FFFAFA   #EDE7F6  #CCC  #FFF    */
    --about-photo: rgba(137, 43, 226, 0.5);

    --body-color: #18191A;
    --nav-color: #673AB7;
    --side-nav: #242526;    
    --body-h1: #FFF5EE;         /*  #F8F8FF  #F2F2F2 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
html{
    scroll-behavior: smooth;
}
/* ********************************************************************** */
/* **********************    SECTION INIT    *************************** */
/* ******************************************************************** */
#init{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/computer-table-background.webp");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#init header{
    background-color: var(--nav-color); /* rgba(35, 16, 235, 0.5);*/
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#init header .container-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/*  navbar  bootstrap   */
#init .main-navbar {
    color: var(--text-nav);
    background-color: var(--nav-color);
}
#init .navbar .container-fluid .navbar-brand a {
    font-size: 30px;
    font-weight: 800;
    width: 90px;
    height: 40px;    
    text-align: center;
    color: purple; /* #FF5080 rgb(148, 57, 232) */
    text-decoration: none;
}

#init .nav-link {
    color: var(--text-nav)!important;
}
#init .navbar-collapse {
    flex-grow: unset !important;
}
#init .navbar-collapse .button-signin {
    background: var(--nav-inverse);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--frame);
    border-radius: 10px;
    background: var(--background-second);
    transition: 1s;
}
#init .navbar-collapse .button-signin:hover {
    box-shadow: 8px 8px 12px var(--frame);
    color: var(--text-nav);
}
.modal-title {
    margin-left: 170px;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
}
.modal-body {
    padding-left: 120px;
    padding-right: 120px;
}
.navbar-collapse button i {
    font-size: 18px;
    font-weight: 700;
}
/*  old navbar  */
#init header .container-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#init header .container-header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
/*
#init header nav ul a:hover{
    color: purple; /* #FF5080; 
}
*/
#init header .socialnet a {
    font-size: x-large;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#init header .socialnet a:hover {
    color: var(--nav-color);    /*  blueviolet;     */
}
#init header .selection {
    color: #FF5080;
}

#init .presentation{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#init .presentation .welcome {
    font-size: 16px;
    font-family: "Game of Thrones";
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#init .presentation img {
    width: 230px;
    height: 230px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    position: center;
    margin-top: 150px;
    box-shadow: 25px 25px 25px rgba(188, 56, 221, 0.2);
}
#init .presentation h5 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: .1rem;
    word-spacing: .2em;
}

#init .presentation h5 span {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: var(--nav-color); 
}

/*  NEW */ 
#init .show-btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-nav);
    cursor: pointer;
    border-radius: 4px;
}
#init .show-btn {
    position: absolute; 
    top: 20%; 
    left: 190%;
    transform: translate(-50%, -10%);
}
#init .show-btn:hover {
    color: whitesmoke;
    background: rgba(255, 255, 255, .25);}

input[type="checkbox"] {
    display: none;
}
#show:checked ~ .popup {
    display: block;
}
.popup {
    display: none;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.popup {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(157%, 30%);
}
.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 27px;
    cursor: pointer;
}
.popup .close-btn:hover {
    color: firebrick;
}
h3 {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
} 
form {
    margin: 20px;
}
label {
    display: block;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 10px;
}
input {
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;  
    color: whitesmoke;
}
button {
    display: block;
    width: 95%;
    padding: 8px;
    margin-top: 18px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #cbb4d4, #20002c);
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}

/*  NEW */ 

#init .presentation .description {
    max-width: 700px;
    margin: 15px auto;
    font-size: 12px;
    font-family: "Game of Thrones";
    text-align: center;
    letter-spacing: .1em;
    word-spacing: .2em;
    color: snow;
}
.presentation p {
    color: #FFF;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0.2em;
}
#init .presentation a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    transition: .5s;
}

#init .presentation a:hover {
    background-color: purple;
}

#icon-nav {
    color: #FFF;
    display: none;
}
.header-wrap
{
	display: none !important;
}
/* MODAL   SIGN IN     FORM    **************************/
#staticBackdrop {
    padding-top: 50px;
    padding-left: 790px;
}
.modal-header {
    background: var(--nav-inverse);
    color: var(--text-nav);
}
.modal-body {
    background: var(--frame);
}
.modal-body label {
    color: var(--text-nav);
}
.modal-body i {
    color: var(--nav-inverse);
    font-size: 22px;
    font-weight: 600;
}
.modal-footer {
    background: var(--frame);
}
.modal-footer .btn-submit {
    background: var(--nav-inverse);
}
.required::after {
    content: " * ";
    color: crimson;
}
input [type="text"],
input [type="password"] {
    width: 240px;
    height: 30px;
    outline: none;
    border: 0.5px solid var(--background-second);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 16px;
    padding-left: 10px;
}
/*  THEME   DARK  LABEL   **************************/
/* Estilos del switch */
.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--nav-color);   /*   --primary   */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--background);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* ********************************************************************** */
/* ********************    TRANDING DESIGN    ************************** */
/* ******************************************************************** */

#trading {
    background-color: var(--nav-color);
    padding-bottom: 0.8vh;
}
#trading h3 a {
    text-decoration: none;
    text-align: center;
    padding-left: 700px;
}
/* ********************************************************************** */
/* *********************    FOOTER DESIGN    *************************** */
/* ******************************************************************** */
footer {
    display: flex;
    background-color: var(--background-second); /*    #565656;  #000 */
    color: #FFF;
    text-align: center;
    justify-content: center;
    padding: 14vh 0;
}
footer a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;    /* inlane-block */
    margin: 5px;
    padding: 15px;
    font-size: 26px;
}
footer p {
    letter-spacing: .1em;
}
footer p a {
    font-size: 18px;
}
footer p a:hover {
    color: #FFF;
    background: linear-gradient(90deg, #880FC4 0%, #1D39F2 100%);
}
footer a:hover {
    color: var(--nav-color);    /*  blueviolet; */
}
footer .heart {
    width: 20px;
    height: 20px;
    background: red;
}
footer .heart::before {
    width: 20px;
    height: 20px;
    background: red;
}
/* ********************************************************************** */
/* *******************    RESPONSIVE DESIGN    ************************* */
/* ******************************************************************** */
@media screen and (max-width: 800px) {
    .socialnet {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }

    #icon-nav {
        display: block;
    }
    #init .container .presentation h5 {
        font-size: 40px;
    }
}

@media(max-with: 600px) 
{
    #init .container .presentation {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #init .container .presentation h5 {
        font-size: 5px;
        margin-bottom: 5px;
        text-align: center;
        letter-spacing: .01rem;
        word-spacing: .02em;
    }
    
    #init .container .presentation h5 span {
        font-size: 20px;
    }
    
    #init .container .presentation .description {
        margin: 5px auto;
        font-size: 5px;
        letter-spacing: .01em;
        word-spacing: .02em;
    }
    
    #init .container .presentation a {
        text-decoration: none;
        display: flexbox;
        margin: 5px;
        padding: 5px 5px;
        font-size: 5px;
    }
}
