/*  add fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: matricode;
  src: url(../fonts/MATRICODE.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    background: url('../img/computer-table-background.webp') no-repeat;   /* seagreen*/
    background-size: cover;
    background-position: center;
}


/*  NEW     botton  blog    guess */ 
.show-btn-blog {
  color: var(--text-nav);
  cursor: pointer;
  border-radius: 4px;
}
.show-btn-blog:hover {
  color: whitesmoke;
}

input[type="checkbox"] {
  display: none;
}
#showBLOG:checked ~ .popup {
  display: block;
}
.popup {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(45%, 3%);
  background: rgba(255, 255, 255, .25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 27px;
  cursor: pointer;
}
.popup .close-btn:hover {
  color: firebrick;
}
.popup h3 {
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
} 
.popup form {
  margin: 20px;
}
.popup label {
  display: block;
  color: whitesmoke;
}
.popup input {
  display: block;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;  
  color: whitesmoke;
}
.popup button {
  display: block;
  width: 95%;
  padding: 8px;
  margin-top: 18px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #cbb4d4, #20002c);
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
}

/*  END  NEW     botton  blog    guess */ 



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;   /*  260px   to  .active  &   transition  */
    height: 100%;
    background: transparent;  /*   rebeccapurple   */
    backdrop-filter: blur(6px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .6s;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    transform: translateX(2%);
    /*
    background: slateblue;*/
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: whitesmoke;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition: .2s;
}

.sidebar .logo-menu .toggle-btn-menu {
    position: absolute;
    left: 50%;   /*  93%   to  .active  &   transition  */
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /*
    background: salmon;*/
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;      /*  like    height  value   */ 
    cursor: pointer;
    transition: .6s;
}

.sidebar.active .logo-menu .toggle-btn-menu {
  left: 93%;
}

.sidebar .list {
  margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;/* slateblue */
    margin: 5px 0; 
    line-height: 50px;      /*  like    height  value   */ 
}

.list .list-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    /*
    background: royalblue;*/
    font-size: 18px;
    color: whitesmoke;
    border-radius: 6px;
    white-space: nowrap;
    transition: .6s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2); 
} 

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    color: whitesmoke;
    /*
    background: salmon; */
    text-align: center;
    line-height: 50px;      /*  like    height  value   */ 
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}


/*  PRESENTATION    */
.presentation {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentation img {
    width: 200px;
    height: 200px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    position: center;
    margin-top: 60px;
    box-shadow: 25px 25px 25px rgba(106, 90, 205, 0.3);
}
.presentation h1 {
    margin-bottom: 10px;
    margin-top: -16px;
    text-align: center;
    letter-spacing: .16rem;
    word-spacing: .2em;
    font-size: clamp(1.1rem, 2vw + 1rem, 2rem);
    line-height: 1.25;
}
.presentation h1 span {
    font-size: clamp(2.1rem, 2vw + 1rem, 3rem);
    color: var(--nav-color); 
}
.presentation p {
    color: #FFF;
    font-weight: bolder;
    font-size: clamp(0.6rem, 2vw + 1rem, 1.4rem);
    letter-spacing: 0.2em;
}
.presentation a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: clamp(0.00005rem, 2vw + 1rem, 1rem);
    background-color: rgba(106, 90, 205, 0.2);
    text-transform: uppercase;
    transition: .5s;
}

.presentation a:hover {
    background-color: rgba(106, 90, 205, 0.9);
}










/* *************************************************************************** */
/*  RESPONSIVE DESIGN   *******************************************************/
/* ************************************************************************* */

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 319px) {}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .presentation {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10vw;
  }
  .presentation img {
    width: 123px;
    height: 123px;
    margin-bottom: 20px;
  }
  .presentation h1 {
    padding: 0 10vw;
    text-wrap: balance;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .presentation {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px auto;
    letter-spacing: .01em;
    word-spacing: .02em;
    margin-left: 60px;
    text-wrap: balance;
  }

  .presentation img {
    width: 130px;
    height: 130px;
    margin-top: -80px;
    margin-bottom: 20px;
  }
    
  .presentation h1 {
    margin-bottom: 1px;
    text-align: center;
    letter-spacing: .01rem;
    word-spacing: .02em;
    text-wrap: balance;
    padding: 0 50px 0 50px; /*  padding left /4  ->  margin left img */
    line-height: 1.50;
    text-shadow: rgba(106, 90, 205, 1);
  }
  .presentation p {
    letter-spacing: .09em;
    text-shadow: rgba(106, 90, 205, 1);
  }

  .presentation a {
    text-decoration: none;
    display: flexbox;
    margin-top: 15px;
    padding: 5px 15px;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .presentation {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1328px) {}

/*

@media(max-with: 600px) {
    .presentation {
     flex-direction: column;
     flex-wrap: wrap;
    }
    .presentation h1 {
      margin-bottom: 1px;
      text-align: center;
      letter-spacing: .01rem;
      word-spacing: .02em;
    }

    .presentation {
      margin: 5px auto;
      letter-spacing: .01em;
      word-spacing: .02em;
    }
   
  .presentation a {
    text-decoration: none;
    display: flexbox;
    margin: 5px;
    padding: 5px 5px;
  }
}

*/
